@page "/reservation/edit/{Id:int}"
@using QuickStay
@using Microsoft.AspNetCore.Components.Forms
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<h3>Edit Reservation</h3>

@if (reservation == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@reservation" >
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group mb-3">
        <label for="name">Name:</label>
        <InputText id="name" class="form-control" @bind-Value="reservation.Name" />
    </div>
    <div class="form-group mb-3">
        <label for="email">Start Date:</label>
        <InputDate id="email" class="form-control" @bind-Value="reservation.StartDate" />
    </div>
    <div class="form-group mb-3">
        <label for="phone">End Date:</label>
        <InputDate id="phone" class="form-control" @bind-Value="reservation.EndDate" />
    </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-danger" @onclick="@(() => NavigateToReservation())">Cancel</button>
    </EditForm>
}


@code {
    [Parameter]
    public int Id { get; set; }

    private Reservation reservation;

    @* protected override async Task OnInitializedAsync()
    {
        hotel = await HttpClient.GetFromJsonAsync<Hotel>($"{NavigationManager.BaseUri}api/hotels/{Id}");
    }

    private async Task HandleValidSubmit()
    {
        var response = await HttpClient.PutAsJsonAsync($"{NavigationManager.BaseUri}api/hotels/{Id}", hotel);
        if (response.IsSuccessStatusCode)
        {
            var updatedHotel = await response.Content.ReadFromJsonAsync<Hotel>();
            Console.WriteLine("Updated Hotel: ");
            Console.WriteLine(updatedHotel);

            NavigationManager.NavigateTo("/hotels");
        }
        else
        {
            Console.WriteLine("Failed to update hotel");
            // Add error handling here
        }
    } *@

    private void NavigateToReservation()
    {
        NavigationManager.NavigateTo("/myreservations");
    } 
}
